@use "./base/base";
@use "./base/reset";
@use "./global" as *;

@use "@sass/module/contact/contact__us"; 
@use "@sass/module/contact/contact__form"; 
@use "@sass/module/contact/contact-side"; 
@use "@sass/module/contact/contact__footer";