@use "../../global/" as *;
@use "@sass/global" as *;

.contact.contact__footer {
  margin-top: 0;
  padding-top: 0;
  @include mq("lxg") {
    margin-top: 4.5rem;
  }
}
.contact__footer--inner {
  @include mq("md") {
    padding: 0 0 0 3rem;
  }
  @include mq("lxg") {
    padding: 0 0 0 14rem;
  }
}
.contact__inner.inform {
  @include mq("md") {
    padding: 0;
    height: 100%;
  }
}
.contact__site-head.contact__heading {
  @include mq("md") {
    margin-left: 0;
  }
}
.finance.contact__site-finance {
  @include mq("md") {
    top: 0.875rem;
    margin-right: 0;
    right: 1.65rem;
  }
  @include mq("lxg") {
    width: 10.9375rem;
    height: 16rem;
  }
}
.holiday-span {
  display: none;
  @include mq("md") {
    display: inline-block;
    width: 1rem;
  }
}
.footer__nav-item.item.footer__contact-nav {
  @include mq("md") {
    padding-top: 0;
    margin-left: 1.5rem;
  }
}
.footer__nav-item.item.footer__contact-nav2 {
  @include mq("md") {
    padding-top: 0;
    margin-left: 0rem;
  }
}
.contact__note.contact__footer-note {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  @include mq("md") {
    display: inline-block;
    margin: 0;
    padding: 0.35rem 0.25rem 0.65em 0;
  }
}
.footer__address.address-contact {
  font-family: $base-font;
  font-size: 0.75rem;
  color: $black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
  @include mq("md") {
    flex-direction: row;
    margin-top: 2.4375rem;
    padding-top: 2.4375rem;
    text-align: left;
    font-size: 1rem;
    letter-spacing: normal;
  }
  @include mq("lxg") {
    margin-top: 0;
    padding: 2.35rem 0 0 1rem;
  }
}
.footer__logo .footer__icon-contact {
  @include mq("lxg") {
    width: inherit;
    margin: 2.125rem 0 0 1rem;
    transform: scale(1);
    object-fit: cover;
    transform: scale(1.05);
    padding-right: 0.75rem;
  }
  @include mq("lxg") {
    padding-right: 0.75rem;
  }
}
.footer__hours.hours-contact {
  text-align: center;
  font-size: 0.75rem;
  @include mq("md") {
    padding: 0.5rem 0 0 1rem;
    text-align: initial;
    font-size: 1rem;
  }
  @include mq("xl") {
    margin-top: 0.5rem;
  }
}
.footer__holiday.holiday-contact {
  text-align: center;
  font-size: 0.75rem;
  @include mq("md") {
    padding: 0.5rem 0 0 1rem;
    text-align: initial;
    font-size: 1rem;
  }
  @include mq("xl") {
    margin-top: 0.5rem;
  }
}
