@use "../../global/" as *;

.about-visual {
    width: 100%;
    padding: 2.0625rem 0 0 0.625rem;
    @include mq("md"){
        padding: 2.0625rem 2.5rem 0 0.625rem;
        height: 100vh;
        padding-left: 17.5rem;
    }
}
.about-visual__inner{
    position: relative;
    padding: 0 0.625rem;
    width: 100%;
    margin-top: 4.3125rem;
    border-radius: 50px 50px 50px 50px;
    overflow: hidden;
    @include mq("md"){
        height: inherit;
        padding: 0 2.5rem;
        margin-top: 0;
    }
}
.about-visual__rightbox {
    @include mq("md"){
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $blue;
        z-index: 0;
        max-width: 45.4375rem;
        max-height: 45.4375rem;
    }
}
.about-visual__img{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 22;
    -o-object-fit: cover;
    object-fit: cover;
    @include mq("md"){
        width: 100%;
        height: 100%;
    }
    @include mq("lg"){
        aspect-ratio: 1120/ 661;
    }
}