@use "../../global/" as *;

.about-visual {
    width: 100%;
    padding: 2.0625rem 0 0 0.625rem;
    @include mq("md"){
        padding: 2.0625rem 2.5rem 0 0.625rem;
        height: 100vh;
        padding-left: 17.5rem;
        object-fit: cover;
    }
}
.about-visual__inner{
    position: relative;
    padding: 0 0.625rem;
    width: 100%;
    height: 100vh;
    margin-top: 4.3125rem;
    border-radius: 0.625rem;
    overflow: hidden;
    @include mq("md"){
        height: inherit;
        padding: 0 2.5rem;
        aspect-ratio: 1120 / 661; // SPでも高さを確保（好きな比率でOK）
        margin-top: 0;
        border-radius: 50px 50px 50px 50px;
    }
}
.about-visual__rightbox {
    @include mq("md"){
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $blue;
        z-index: 0;
        max-width: 45.4375rem;
        max-height: 45.4375rem;
    }
}
.about__us{
    padding: 0 ;
    @include mq("md"){
        padding: 0 0 0 6rem;
    }
    @include mq("lg"){
        padding: 0 0 0 4rem;
    }   
}
.about__us--inner{
        width: inherit;
        max-width: var(--container);
        @include mq("md"){
            padding: 0 0rem 0 7rem;
            margin-top: 4rem;
        }
}
.about__us--wrapper{
    position: relative;
    width: inherit;
    max-width: var(--container);
    padding: 0 1.25rem 2.5rem;
    @include mq("md"){
        padding: 0 0 0 3.3125rem ;
    }
    @include mq("lg"){
        margin-left: 2rem;
    }
}
.about__us--title{
    font-size: 2rem;
    font-family: $base-font;
    font-weight: $bold;
    padding: 2rem 0 0 0.685rem;
    @include mq("md"){
        font-size: 2.5rem;
    }
}
.about__us--text{
        line-height: 1.825;
        padding: 2rem 0 0 0.6875rem;
        @include mq("md"){
        padding: 4rem 0 0 0.685rem;
        line-height: 2;
        }
}
.about__us--illust.offline-hearing{
    display: block;
    object-fit: contain;
}
.about__us--illust{
        visibility: visible;
        position: absolute;
        width:  4.875rem;
        height: 7.1175rem;
        background: url(/src/images/offline-hearing.svg) no-repeat;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        top: 1rem;
        right: 26px;
        aspect-ratio: 110 / 161; 
        opacity: 1;
        z-index: 2;
        @include mq("md"){
            right: 7.5rem; // 例：mdはrem指定
        }
        @include mq("lg"){
            right: 14rem;
            width: 10.3125rem;
            height: 12.375rem;
        }
}

.about__us--navs{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    justify-content: start;
    // li間の余白はgapで管理
    gap: 1rem;

    margin-top: 4.6875rem;
    @include mq("md"){
         // PC側で最小幅を208pxにするならここで差し替え
    grid-template-columns: repeat(auto-fit, minmax(208px, max-content));
    gap: 2rem;
    }
}
.about__us--nav{
    //. ボーダーで囲む
    border: 1px solid $blue;
    border-radius: 0.6875rem;
    //. 最低208px
    max-width: 208px;
    text-align: center;
    @include mq("md"){
        padding: 0;
    }
}
.about__us--nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.6875rem 1rem;
  text-decoration: none;
  color: inherit;
  text-align: center;
  @include mq("md"){
      padding: 0.6875rem 2rem;
  }
}


.about-visual__img{
    // position: static;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    @include mq("md"){
            -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
        z-index: 22;
    }
    @include mq("lg"){
        aspect-ratio: 1120/ 661;
    }
}
.about__us-list-down{
  display: inline-block;
  vertical-align: middle;
  color: $blue;
  line-height: 1;
  margin-top: 0.8125rem;
  width: 0.625em;
  height: 0.625em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
}