@use "../../global/" as *;

.overview{
    margin-top: 3.1875rem;
    @include mq("md"){
        padding: 0 0 0 5rem;
    }
    @include mq("lxg"){
        padding: 0 0 0 5rem;
    }
}

.overview__inner{
    position: relative;
    padding: 0 0.625rem;
    margin-top: 4.3125rem;
    width: 100%;
    z-index: 5;
    @include mq("md"){
        padding: 0 2.5rem 0 5rem;
        margin-top: 0;
    }
    @include mq("lxg"){
        padding: 0 0rem 0 7rem;
    }
}
.overview__wrapper{
    position: relative;
    width: inherit;
    max-width: var(--container);
    padding: 0 0.5rem 2.5rem;
    @include mq("md"){
        padding: 0;
    }
    @include mq("lg"){
        margin-left: 2.5rem;
    }
}
.overview__title{
    font-size: 1.75rem;
    font-family: $base-font;
    font-weight: $bold;
    padding: 1rem 0 0 0.75rem;
    letter-spacing: 0.04em;
    @include mq("md"){
        padding: 1rem 0 0 2rem;
        font-size: 2rem;
    }
    @include mq("lg"){
        padding: 2rem 0 0 0rem;
    }
}
.overview__container{
    @include mq("lg"){
        padding: 0 2.5rem 0 0;
    }
}
.overview__description{
    display: flex;
    flex-direction: column;
    @include mq("md"){
        margin-top: 4rem;
        padding: 0 2rem;
    }
    @include mq("lg"){
    }
    @include mq("lxg"){
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0;
    }
}
.overview__text{
    font-size: 0.875rem;
    line-height: 1.875;
    color: $black;
    margin-top: 2rem;
    letter-spacing: 0.04em;
    @include mq("md"){
        width: fit-content;
        font-size: 1rem;
        line-height: 2;
        padding: 0 ;
    }
    @include mq("lxg"){
        margin-top: 0;
        max-width: 465px;
        padding: 0;
    }
}
.overview__ceo{
    @include mq("md"){
        width: 80%;
        padding: 0 0 0 2rem;
    }
    @include mq("lg"){
        width: auto;
        padding: 0 0 0 2.25rem;
    }
    @include mq("lxg"){
         padding: 0 0 0 6.25rem;
    }
}
.overview__ceo-img{
    display: block;
    margin: 2rem auto 0;
    width: max(465px, 88%);
    @include mq("md"){
        width: min(465px, 80%);
        margin-top: 0;
    }
    @include mq("lg"){
        width: 100%;
        max-width: 20.6875rem;
    }
}
.overview__ceo-president{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    @include mq("md"){
        margin-top: 1rem;
        padding: 0;
    }
    @include mq("lxg"){
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 0;
    }
}
.overview__composition{
    position: relative;
    margin-top: 2.3125rem;
    width: 100%;
    @include mq("md"){
        margin-top: 5.125rem;
        padding: 0 2rem;
    }
    @include mq("lg"){
        width: 85%;
        padding: 0;
    }
    @include mq("lxg"){
        width: 70%;
    }
}
.composition__company{
    padding: 0 ;
    font-size: 0.75rem;
    @include mq("md"){
        padding: 0 2rem;
    }
    @include mq("lg"){
        padding: 0;
    }
}

.overview__position{
    font-size: 1rem;
    @include mq("md"){
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}
.overview__name{
    color: $blue;
    font-size: 1rem;
    font-weight: $bold;
    margin-left: 2rem;
    @include mq("md"){
        font-size: 1.5rem;
        margin-left: 3rem;
    }
    @include mq("lg"){
        margin-top: 1rem;
    }
    @include mq("lxg"){
        margin-top: 2rem;
    }
}

.company {
    letter-spacing: 0.04em;
}
.company__content {
    display: inline-block;
    margin-left: 2rem;
    @include mq("md"){
        margin-left: 1rem;
    }
    @include mq("lg"){
        margin-left: 0;
    }
}
.company__title{
    display: inline-block;
    text-align: left;
    font-weight: $bold;
    min-width: 140px;
    @include mq("lg"){
        min-width: 242px;
    }
}
.company__title.composition__title{
    min-width:auto
}
.company__qualification{
    border-bottom: 1px solid $blue-line;
    padding: 1.5rem 0;
    @include mq("md"){
        padding: 1.875rem 0;
    }
}