@use "../../global/" as *;

.philosophy{
    margin-top: 4rem;
    @include mq("md"){
        padding: 0 0 0 5rem;
    }
    @include mq("lxg"){
        padding: 0 0 0 5rem;
    }
}

.philosophy__inner{
    position: relative;
    padding: 0 0.625rem;
    width: 100%;
    margin-top: 4.3125rem;
    z-index: 5;
    @include mq("md"){
        padding: 0 2.5rem 0 5rem;
        margin-top: 0;
    }
    @include mq("lxg"){
        padding: 0 0rem 0 7rem;
    }
}
.philosophy--wrapper{
    position: relative;
    width: inherit;
    max-width: var(--container);
    padding: 0 1.25rem 2.5rem;
    @include mq("md"){
        padding: 0 ;
    }
    @include mq("lg"){
        margin-left: 2.5rem;
    }
}
.philosophy__title{
    font-size: 1.75rem;
    font-family: $base-font;
    font-weight: $bold;
    padding: 1rem 0 0 0;
    letter-spacing: 0.04em;
    @include mq("md"){
        font-size: 2rem;
        padding: 1rem 0 0 2.5rem;
    }
    @include mq("lg"){
        padding: 2rem 0 0 2.5rem;
    }
}
.pholosophy__vision{
    width: 100%;
    margin-top: 2rem;
    @include mq("md"){
        max-width: 923px;
        margin-top: 4rem;
    }
    @include mq("lxg"){
        width: 64%;
    }
}