@use "../../global/" as *;
.safety{
    margin-top: 3.1875rem;
    @include mq("md"){
         @include mq("md"){
        padding: 0 0 0 5rem;
    }
    }
    @include mq("lxg"){
        padding: 0 0 0 5rem;
    }
}

.safety__inner{
    position: relative;
    padding: 0 0.625rem;
    margin-top: 4.3125rem;
    z-index: 5;
    width: 100%;
    @include mq("md"){
        padding: 0 0 0 5rem;
        margin-top: 0;
    }
    @include mq("lxg"){
        padding: 0 0rem 0 7rem;
    }
}
.safety__wrapper{
    position: relative;
    width: inherit;
    max-width: var(--container);
    padding: 0 1.25rem 2.5rem;
    @include mq("md"){
        padding: 0;
    }
    @include mq("lg"){
        // padding: 0 0 0 2.5rem;
        margin-left: 2.5rem;
    }
}
.safety__title{
    font-size: 1.75rem;
    font-family: $base-font;
    font-weight: $bold;
    padding: 1rem 0;
    letter-spacing: 0.04em;
    @include mq("md"){
        font-size: 2rem;
        padding: 1rem 0 0 2rem;
    }
    @include mq("lg"){
        padding: 2rem 0 0 0rem;
    }
}
.safety__contents{
    padding: 0 ;
    @include mq("md"){
        padding: 0;
        margin: 4rem 0 0 2rem;
    }
    @include mq("lg"){
        padding: 0 2rem 0 0rem;
        margin: 4rem 0 0 0;
    }
    @include mq("lxg"){
        margin: 5.375rem 0 0 0;
    }
}
.safety__content:not(:first-child){
    margin-top: 2rem;
    @include mq("lg"){
        margin-top: 0;
    }
}
.safety__content--title{
    font-size: 1.5rem;
    font-weight: $bold;
    letter-spacing: 0.04em;
    margin-top: 1rem;
}

.safety__content--title:not(:first-child){
    margin-top: 1rem;
    @include mq("md"){
        margin-top: 1.875rem;
    }
}
.safety__workon{
    display: flex;
    flex-direction: column;
    @include mq("md"){
    }
    @include mq("lg"){
        flex-direction: row;
        justify-content: flex-start
    }
}
.safety__workon.workon{
    margin-top: 2rem;
    @include mq("md"){
    margin-top: 2rem auto 0;
    }
}
.workon__image{
    padding: 0;
}
.workon__detail{
    line-height: 1.8125;
    @include mq("md"){
        line-height: 2;
        width: max(642px,70%);
    }
    @include mq("lg"){
        width: min(642px, 48%);
    }
}
.workon__image img{
    display: block;
      @include mq("md"){
        width: 80%;
        margin-top: 2rem;
    }
    @include mq("lg"){
        width: max(267px,70%);
        padding: 0 0 0 2rem;
        margin-top: 0;
    }
    @include mq("lxg"){
        padding: 0 0 0 2.75rem;
    }
}