@use "../../global/" as *;
.safety{
    margin-top: 3.1875rem;
    @include mq("md"){
         @include mq("md"){
        padding: 0 0 0 5rem;
    }
    }
    @include mq("lxg"){
        margin-top: 3rem;
        padding: 0 0 0 5rem;
    }
}

.safety__inner{
    position: relative;
    padding: 0 0.625rem;
    margin-top: 4.3125rem;
    z-index: 5;
    width: 100%;
    @include mq("md"){
        padding: 0 0 0 5rem;
        margin-top: 0;
    }
    @include mq("lxg"){
        padding: 0 0rem 0 8.5rem;
    }
}
.safety__wrapper{
    position: relative;
    width: inherit;
    max-width: var(--container);
    padding: 0 1.25rem 2.5rem;
    @include mq("md"){
        padding: 0;
    }
    @include mq("lg"){
        margin-left: 4rem;
    }
}
.safety__title{
    font-size: 1.75rem;
    font-family: $base-font;
    font-weight: $bold;
    padding: 1rem 0;
    @include mq("md"){
        font-size: 2rem;
        padding: 1rem 0 0 2rem;
    }
    @include mq("lxg"){
        padding: 0rem 0 0 0rem;
    }
}
.safety__contents{
    padding: 0 ;
    @include mq("md"){
        padding: 0;
        margin: 4rem 0 0 2rem;
    }
    @include mq("lg"){
        padding: 0 2rem 0 0rem;
        margin: 4rem 0 0 0;
    }
    @include mq("lxg"){
        margin: 5.15rem 0 0 0;
    }
}

.content--modified.safety__content{
    margin-top: 2rem;
    @include mq("lg"){
        margin-top: 1.75rem;
    }
}
.safety__content--title{
    font-size: 1.5rem;
    font-weight: $bold;
    letter-spacing: 0.04em;
    margin-top: 1rem;
    @include mq("lxg"){
        letter-spacing: normal;
        margin-top: 1.75em;
    }
}
.safety__content--title.title__try{
margin-top: 1rem;
    @include mq("md"){
        margin-top: 1rem;
    }
}

.safety__workon{
    display: flex;
    flex-direction: column;
    @include mq("md"){
    }
    @include mq("lg"){
        flex-direction: row;
        justify-content: flex-start
    }
}
.safety__workon.workon{
    margin-top: 2rem;
    @include mq("md"){
    margin-top: 2rem auto 0;
    }
}
.workon__image{
    padding: 0;
}
.workon__detail{
    line-height: 1.8125;
    @include mq("md"){
        line-height: 2;
        width: max(642px,70%);
    }
    @include mq("lg"){
        width: max(692px, 52%);
        padding-top: 0.25em;
        line-height: 1.7985;
    }
}
.workon__detail.workon__detrail--second{
    @include mq("lg"){
        padding-top: 0.15em;
    }
}
.workon__image img{
    display: block;
      @include mq("md"){
        width: 80%;
        margin-top: 2rem;
    }
    @include mq("lg"){
        width: max(267px,70%);
        padding: 0 0 0 2rem;
        margin-top: 0;
    }
    @include mq("lxg"){
        width: max(267px,58%);
        padding: 0.25rem 0 0 2.75rem;
    }
}
.workon__image.workon__image--second img {
    display: block;
    @include mq("lxg"){
        padding: 0 0 0 2.75rem;
    }
}
.workon__detail .workon__detail-sentense__second{
    display: inline-block;
   
    @include mq("lxg"){
        padding-top: 0.125rem;
        line-height: 1.785;
    }
}