@use "../../global/" as *;
.safety{
    margin-top: 3.1875rem;
    @include mq("md"){
        padding-left: 12rem;
    }
}

.safety__inner{
    position: relative;
    padding: 0 0.625rem;
    margin-top: 4.3125rem;
    @include mq("md"){
        padding: 0;
        margin-top: 0;
    }
}
.safety__wrapper{
    position: relative;
    width: inherit;
    max-width: var(--container);
    padding: 0 1.25rem 2.5rem;
    @include mq("md"){
        padding: 0 0 0 2.5rem;
    }
    @include mq("lg"){
        margin-left: 2.5rem;
    }
}
.safety__title{
    font-size: 1.75rem;
    font-family: $base-font;
    font-weight: $bold;
    padding: 1rem 0 0 0rem;
    letter-spacing: 0.04em;
    @include mq("md"){
        font-size: 2rem;
    }
    @include mq("lg"){
        padding: 2rem 0 0 0rem;
    }
}
.safety__contents{
    padding: 0 0 0 1rem;
    @include mq("md"){
        padding: 0 0 0 2.5rem;
        margin: 4rem 0 0 2.5rem;
    }
    @include mq("lg"){
        margin: 5.375rem 0 0 2.5rem;
        padding: 0 2rem 0 2.5rem;
    }
}
.safety__content--title{
    font-size: 1.5rem;
    font-weight: $bold;
    letter-spacing: 0.04em;
    margin-top: 1rem;
}

.safety__content--title:not(:first-child){
    margin-top: 1rem;
    @include mq("md"){
        margin-top: 1.875rem;
    }
}
.safety__workon{
    display: flex;
    flex-direction: column;
    @include mq("md"){
        flex-direction: row;
        justify-content: center;
    }
}
.safety__workon.workon{
    margin-top: 1.5rem;
    @include mq("md"){
    margin-top: 2rem;}
}
.workon__image{
    padding: 0;
}
.workon__detail{
    line-height: 1.8125;
    @include mq("md"){
        max-width: 642px;
        line-height: 2;
    }
}
.workon__image img{
    display: block;
      @include mq("md"){
        width: 80%;
        padding: 0 0 0 2rem;
    }
    @include mq("lg"){
        width: auto;
        padding: 0 0 0 2.75rem;
    }
}