@use "../global" as *;

.about {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background-color: $white;
  padding-top: 0.5rem;
  z-index: 6;
  @include mq("md") {
    padding-left: 15rem;
    padding-top: 0;
    padding-left: 4.5rem;
  }
  @include mq("lxg") {
    margin-left: 10rem;
    padding-left: 7.5rem;
  }
}
.about__inner {
  width: inherit;
  max-width: var(--container);
  background-color: $content;
  padding: 0 1.25rem;
  margin-top: 2.5rem;
  @include mq("md") {
    margin-top: 4.5rem;
    padding: 3.875rem 0;
    position: relative;
  }
  @include mq("lxg") {
    // margin-top: 5.75rem;
    margin-top: 4.5em;
    padding: 3.875rem 0 3.25rem 0;
  }
}
.about__swiper {
  width: inherit;
  padding-top: 0.9875rem;
  @include mq("md") {
    padding-top: 0;
  }
}
.about__subtitle {
  position: absolute;
  top: 26.9%;
  background-color: $content;
  writing-mode: vertical-rl; /* テキストを縦書きに */
  font-size: 1.5rem;
  color: black;
  inline-size: 7rem; // ← これが正解
  padding: 1.5rem 1rem 0.5rem 1rem;
  z-index: 1;
  line-height: 1.5;
  margin-top: -3rem;
  right: 1.75rem;
  font-weight: $bold;
  height: fit-content;
  letter-spacing: 0.5em;
  @include mq("md") {
    // top: 65%;
    top: 62.5%;
    bottom: -10.7875rem;
    font-size: 2.5rem;
    padding: 2rem 1.5rem;
    inline-size: 10.74rem;
    height: fit-content;
    right: min(8.874rem, 6%);
    font-weight: 800;
    letter-spacing: normal;
    @include mq("lxg") {
      top: 61.875%;
      right: max(8.874rem, 25%);
      padding: 1.675rem 1.65rem 0.5rem 1.875rem;
    }
  }
}
.about__subtitle .subtitle__group {
  writing-mode: vertical-rl;
  display: inline-block;
  white-space: nowrap;
}
.about__subtitle .subtitle__group:first-child {
  display: block;
  @include mq("md") {
    display: inline-block;
  }
}
.about__subtitle {
  letter-spacing: 12px;
  @include mq("md") {
    letter-spacing: 14px;
  }
  @include mq("lxg") {
    letter-spacing: 0.5em;
  }
}
.subtitle__black {
  color: $black;
  writing-mode: vertical-rl;
}
.subtitle__group.subtitle__break {
  @include mq("md") {
    display: block;
  }
  @include mq("lxg") {
    margin-left: 0.5rem;
  }
}
.about__subtitle .subtitle__break {
  display: block;
  writing-mode: vertical-rl;
  margin-right: 0.25rem;
  @include mq("md") {
    margin-right: 0rem;
  }
  @include mq("lxg") {
    padding-right: 0.25rem;
    line-height: 1;
  }
}

.subtitle__blue {
  color: $blue;
}

.about__text-block {
  position: relative;
  top: 50%;
  bottom: 0;
  margin: 2rem auto 0 0;
  letter-spacing: -0.01em;
  padding: 2rem 1.25rem 0;
  @include mq("md") {
    margin: 3rem auto 5.3125rem auto;
    max-width: rem(600);
    transform: translateX(-20%);
  }
  @include mq("lxg") {
    padding: 4.125rem 1.25rem 0;
    margin: 0rem auto 5.3125rem 0;
    transform: translateX(-5%);
  }
}
.about__title {
  font-size: 1.25rem;
  color: $black;
  @include mq("md") {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
  }
  @include mq("lxg") {
    padding-left: 0.65rem;
    margin-left: 0;
  }
}
.about__heading {
  font-family: $eng-font;
  color: $white;
  text-shadow:
    1px 1px 0 $blue,
    1px -1px 0 $blue,
    -1px 1px 0 $blue,
    -1px -1px 0 $blue;
  // text-stroke: 2px  $blue;
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: -0.5rem;
  letter-spacing: 0.01em;
  @include mq("md") {
    font-size: 8rem;
    padding-left: 0.5rem;
  }
  @include mq("lxg") {
    font-weight: 700;
    margin-top: -1rem;
    padding: 0 0.5rem 0 0.65rem;
    letter-spacing: normal;
  }
}
.about__description {
  color: $black;
  font-size: 0.875rem;
  margin-top: 1.5rem;
  line-height: 1.8;
  letter-spacing: normal;
  padding-top: 0.05rem;
  @include mq("md") {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.75;
    padding-left: 0.65rem;
    letter-spacing: normal;
  }
  @include mq("lxg") {
    line-height: 1.785rem;
    max-width: 429px;
  }
}
.about__interview {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding-right: 41.46%;
  top: 39%;
  height: fit-content;
  @include mq("sp") {
    padding-right: max(39.5%, 2.875rem);
  }
  @include mq("md") {
    top: 40%;
    transform: translateY(60%);
    padding-right: min(23%, 20.875rem);
  }
  @include mq("lxg") {
    top: 32.75%;
    right: 14.25rem;
    padding-right: 20.5%;
    bottom: initial;
  }
}

.about__interview img {
  display: block;
  aspect-ratio: 161/213;
  width: 100%;
  height: 5rem;
  @include mq("md") {
    width: 10.0625em;
    height: 13.3125em;
  }
}
.about__link {
  text-decoration: none;
  position: relative;
  max-width: 240px;
  display: block;
  color: $black;
  letter-spacing: normal;
  padding: 1rem 2rem 1.125rem;
  border: 1px solid $black;
  border-radius: 0.625rem;
  font-family: $base-font;
  font-weight: $bold;
  margin-top: 1.875rem;
  text-align: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  @include mq("md") {
    margin-top: 2rem;
    padding: 1.375rem 5.125rem;
    max-width: initial;
    width: fit-content;
  }
}
.about__link {
  @include mq("lxg") {
    width: 15rem;
    position: relative;
    margin: 2.5rem 0 0 0.65rem;
    padding: 1.125rem 4.25rem 1rem 5rem;
  }
}
.about__link:hover {
  background-color: $black;
  color: $white;
}
.about__elipse {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.6875rem;
  margin-left: 1.75rem;
  right: 1.125rem;
  text-align: center;
  @include mq("lxg") {
    text-align: left;
    right: 1.25rem;
    margin-left: 0;
  }
}
