@use "../global" as *;

.contact {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding-top: 0.5rem;
    @include mq("md"){
    padding-left: max(2rem,(100% - var(--container)) / 2);
    z-index: 12;
    margin-top: 6rem;
    }
}
.contact__inner{
    padding: 0;
    @include mq("md"){
    width: inherit;
    max-width: var(--container);
    margin-top: 4.5rem;
    padding: 0 0rem 0 7rem;   
    }
}
.contact__wrapper{
    position: relative;
    border-radius: 0;
    background-color: $content;
    width: inherit;
    max-width: var(--container);
    margin-top: 4.5rem;
    padding: 0 1.25rem 2.5rem;
    @include mq("md"){
        border-radius: 3.125rem 0 0 3.125rem;
        padding: 0 0 3.3125rem 0.5rem;
    }
    @include mq("lg"){
        margin-left: 2rem;
    }
}
.contact__titles{
    width: 100%;
    height: auto;
    @include mq("sp"){
        padding: 1.6875rem 0 0;
        max-width: var(--container);
    }
    @include mq("md"){
    top: 4.5rem;
    padding: 4rem 0 0 4.5rem;
    z-index: 2;
    transform: translateX(-2%);
    }
    @include mq("lg"){
        padding: 4rem 0 0 8.5rem;
    }
}
.contact__title{
    font-size: 1.25rem;
    color: $black;
    @include mq("md"){
        font-size: 1.5rem;
        // padding-left: 3rem;
         padding-left:max(2rem, calc((100% - var(--container)) / 2));
    }
}

.contact__heading{
    font-family: $eng-font;
    color: $white;
    text-shadow:  1px 1px 0 $blue,1px -1px 0 $blue,-1px 1px 0 $blue,-1px -1px 0 $blue;
    // text-stroke: 2px  $blue;
    font-size: 4.5rem;
    @include mq("md"){
        font-size: 8rem;
        padding-left: max(2rem, calc((100% - var(--container)) / 2));
    }
}

.contact__info{
    display: flex;
    flex-direction: column;
    padding-top: 1.4375rem;
    @include mq("sp"){
        padding-left: 0;
        max-width: var(--container);
    }
    @include mq("md"){
        padding-top: 0;
        padding-left: 4.5rem;
    }
    @include mq("lg"){
        flex-direction: row;
        padding: 0 0 0 8.5rem;
    }
}
.contact__wrapper{
     position: relative;
}

.finance{
    visibility: hidden;
    @include mq("sp"){
        visibility: visible;
        margin-right: 2rem;
        position: absolute;
        width: 6.875rem;
        height: 10.05125rem;
        // background-image: url("@images/common/financing.svg");
        background: url("../../images/financing.svg") no-repeat;
        background-size: 6.875rem 10.05125rem;
        background-repeat: no-repeat;
        top: 1rem;
        right: 2.5rem;
        margin-top: 1rem;
        opacity: 1;
    }
    @include mq("md"){
        background-size: contain;
    }
}
.wrapper__finance.finance{
    display: none;
    @include mq("md"){
        display: block;
    }
}
.contact__telephone{
    display: flex;
    flex-direction: column;
    
    @include mq("lg"){
        align-items: center;
        flex-direction: row;
    }
}
.contact__tel--num{
    display: flex;
    
    @include mq("md"){
        justify-content: center;
        flex-direction: column; // 中身を縦並び
        padding: 0.5rem 0;
    }
    @include mq("lg"){
        border-right: 1px solid $black;
    }
}

.contact__tel--num.label{
    padding: 1.5rem 0;
    border-bottom: 1px solid $black;
    @include mq("md"){
        height: 100%;
        min-width: 74px;
        width: max(4.625rem, 74px);
        padding: 0 0 1.5rem 0;
    }
    @include mq("lg"){
        border-bottom: 0;
    }
}
.contact__tel--num.number{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;

    @include mq("lg"){
        padding: 0 2rem;
        flex-direction: row;
    }
}
.contact__label,.contact__number{
    display: block;
    font-family: $eng-font;
    font-size: 2rem;
    letter-spacing: 0.02em;
    @include mq("md"){
        padding-bottom: 0.5rem;
    }
}
.contact__text{
    margin-left: 1rem;
    font-size: 0.75rem;
    font-family: $base-font;
    font-weight: $bold;
    padding-top: 1.25rem;
    @include mq("md"){
        margin-left: 0;
        padding-top: 0;
    }
}
.contact__note{
    font-size: 0.75rem;
    font-family: $base-font;
    font-weight: $bold;
    margin-top: 0.5rem;
    @include mq("md"){
        margin-top: 0;
    }
}
.contact__access{
    padding-top: 0.75rem;
    @include mq("md"){
        padding: 1rem 2rem 2px;
    }
}
.contact__form-button{
    background-color: $white;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    min-width: 284px;
    width: fit-content;
    padding: 1.25rem 1.5625rem 1.25rem 2.5rem;
    transition: background-color 0.5s ease;
    @include mq("md"){
        padding: 1.25rem 0.5rem 1.25rem 1.25rem;
        width: min(22%, 284px);
        margin-left: 2rem;
    }
}
.contact__form-button:hover{
    background-color: $black;
    color: $white;
}
 .contact__button{
    display: inline-block;
    text-decoration: none;
    color: $black;
    font-family: $base-font;
    font-weight: $bold;
    transition: color 0.3s ease;
 }
.contact__form-button:hover .contact__button{
    text-decoration: none;
    color: $white;
}

.contact__icon{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    transition: filter 0.3s ease;
}
.contact__form-button:hover .contact__icon{
    filter: invert(1);
}
.contact__elipse{
    position: relative;
    font-size: 0.625rem;
    color: $black;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 1.25rem;
    transition: color 0.3s ease;
}
.contact__form-button:hover .contact__elipse{
    color: $white;
}