@use "../global" as *;
.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white;
  padding-top: 0.55rem;
  @include mq("md") {
    padding-left: max(2rem, (100% - var(--container)) / 2);
    z-index: 12;
    margin-top: 0;
    padding-top: 1rem;
  }
}
.footer__inner {
  width: inherit;
  max-width: var(--container);
  padding: 0;
  display: flex;
  flex-direction: column;
  @include mq("md") {
    align-items: baseline;
    margin-top: 4.5rem;
    justify-content: space-around;
    padding: 0 10rem 0 0;
  }

  @include mq("xl") {
    flex-direction: row;
    margin-top: 4.675rem;
    align-items: flex-start;
    justify-content: stretch;
    padding: 0 2rem 0 6rem;
  }
}
.footer__column {
  padding-top: 1rem;
  @include mq("md") {
    padding-top: 0;
    margin-left: 12rem;
    padding-left: 5rem;
  }
  @include mq("xl") {
    padding-left: 9rem;
    margin-left: 2.5rem;
  }
}
.footer__logo {
  @include mq("md") {
    width: 13.875rem;
  }
  @include mq("lxg") {
    width: 14.375rem;
    padding-top: 0.55rem;
    padding-left: 0.15rem;
  }
}
.footer__logo .footer__icon {
  display: block;
  max-width: 222px;
  margin: 0 auto;
  width: 100%;
  @include mq("md") {
    width: inherit;
    margin: 1.9875rem 0 0 0;
    object-fit: cover;
    // padding-left: 0.5rem;
    transform: scale(1.05);
    padding-right: 0.75rem;
  }
  @include mq("lxg") {
    padding-right: 0.5rem;
  }
}
.footer__address {
  font-family: $base-font;
  font-size: 0.75rem;
  color: $black;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;
  @include mq("md") {
    flex-direction: row;
    margin-top: 2.4375rem;
    padding-top: 2.4375rem;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0.01em;
  }
  @include mq("lxg") {
    margin-top: 0;
    padding-top: 2.35rem;
  }
}
.footer__hours,
.footer__holiday {
  text-align: center;
  font-size: 0.75rem;
  @include mq("md") {
    padding-top: 2rem;
    text-align: initial;
    font-size: 1rem;
  }
  @include mq("xl") {
    padding-top: 0;
    margin-top: 0.5rem;
  }
}
.address__jp {
  display: inline-block;
  margin-top: 1rem;
  @include mq("md") {
    margin-left: 1rem;
    margin-top: 0;
    letter-spacing: normal;
  }
  @include mq("lxg") {
    padding-top: 0;
    padding-left: 0.25rem;
    margin-left: 0.675rem;
  }
}
.address__jp.address__jp2 {
  margin-top: -0.25rem;
  @include mq("md") {
    margin-top: 0;
  }
}
.hours__jp {
  font-size: 0.75rem;
  display: inline-block;
  padding-left: 0.9875rem;
  padding-top: 0.875rem;
  letter-spacing: 0.01em;
  @include mq("md") {
    margin-left: 1rem;
    padding-left: 0;
    font-size: 1rem;
    letter-spacing: normal;
  }
  @include mq("lxg") {
    padding-top: 0;
    margin-left: 1rem;
  }
}
.footer__holiday {
  // padding-top: 0.875rem;
  padding: 0.875rem 0.65rem 0 0.75rem;
  @include mq("md") {
    padding: 0;
  }
}
.footer__holiday.holiday {
  @include mq("md") {
    padding-top: 2rem;
  }
  @include mq("xl") {
    padding-top: 0;
  }
}
.footer__holiday .holiday__week {
  padding: 0 0 0 0.25rem;
  @include mq("md") {
    padding: 0;
  }
}
.holiday__week.holiday__week-day {
  margin-left: 1rem;
}
.footer__tablecontents {
  margin-top: 1.5625rem;
  padding: 0.5625rem 0;
  @include mq("md") {
    padding: 3rem 0 0 4.65rem;
  }
  @include mq("xl") {
    margin-top: 1.25rem;
    padding: 0 0 0 6rem;
  }
}

.footer__nav-item.footer__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 1.5rem;
  @include mq("md") {
    padding-top: 0;
  }
}
.footer__contact-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  @include mq("md") {
    min-width: 164px;
    margin-top: 0;
    margin-left: 0.5rem;
  }
  @include mq("lxg") {
    margin-left: 1.5rem;
  }
}
.footer__contact-text {
  display: inline-block;
  font-family: $base-font;
  color: $black;
  // padding-left: 1rem;
  @include mq("md") {
    padding-left: 0;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
  color: $black;
  @include mq("md") {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.footer__nav-item .footer__nav--link {
  display: block;
  font-family: $base-font;
  line-height: 1.5;
  text-decoration: none;
  color: $black;
  font-weight: $bold;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  @include mq("md") {
    display: flex;
    align-items: center;
    text-align: left;
  }
}
.footer__nav-item {
  display: block;
  width: 100%;
  @include mq("md") {
    width: fit-content;
    display: inline-block;
    max-width: 160px;
  }
}

.footer__contact-contact img {
  display: inline-block;
  width: 1.25rem;
  margin: 0 0 0 7rem;
  flex-shrink: 0;
  // height: 1.25rem;
  @include mq("md") {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0;
  }
  @include mq("lxg") {
    width: 1.25rem;
  }
}

.footer__nav-item.item {
  padding-top: 1.5rem;
  @include mq("lxg") {
    padding-top: 0;
    margin-left: 1.5rem;
  }
}
.footer__nav-item.item2 {
  margin-top: 1.5rem;
  @include mq("md") {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
.footer__nav--first,
.footer__nav--second {
  padding-top: 1.5625rem;
  @include mq("md") {
    padding-top: 2.5rem;
  }
  @include mq("lxg") {
    padding: 2.5rem 0 0 0.75rem;
  }
}
.footer__nav--second,
.footer__nav--third {
  padding-top: 1.5rem;
  @include mq("md") {
    padding-top: 2rem;
  }
}
.footer__nav--third {
  padding-top: 1.5625rem;
  @include mq("md") {
    padding-top: 2.5rem;
  }
  @include mq("lxg") {
    padding: 2rem 0 0 0.875rem;
  }
}
.footer__copyright {
  font-family: $base-font;
  font-weight: $normal;
  text-align: center;
  margin-top: 2.65rem;
  font-size: 0.75rem;
  padding: 0;
  @include mq("md") {
    padding: 0.5rem 3.5rem 1.625rem 0;
    text-align: right;
    margin-top: 0;
  }
  @include mq("lxg") {
    padding: 0 2.55rem 1.625rem 0;
    margin-top: -0.125rem;
    font-size: 0.875rem;
    letter-spacing: normal;
  }
}
.copyright__text {
  @include mq("md") {
    display: inline-block;
  }
}
.copyright__text2 {
  font-size: 0.75rem;
  @include mq("md") {
    display: inline-block;
    font-size: 0.875rem;
  }
}
