@use "../global/" as *;

.main-visual {
  position: relative;
  width: 100%;
  padding: 0rem 0 0 0.625rem;
  @include mq("md") {
    padding-left: 10.5rem;
  }
  @include mq("lxg") {
    padding-left: 17.5rem;
  }
}
@supports (-webkit-touch-callout: none) {
  /* iPhoneの表示のみ指定を上書き */
  .main-visual {
    height: -webkit-fill-available;
  }
}
.main-visual.main-top {
  width: 100%;
  height: 100vh;
  padding: 0rem 0 0 0.5rem;
  @include mq("md") {
    padding-left: 10.5rem;
  }
  @include mq("lxg") {
    padding-left: 17.5rem;
  }
  // height: calc(var(--vh, 1vh) * 100);
}
.contact-visual.main-visual {
  height: auto;
}
.main-visual__inner {
  // padding: 2.5rem 0;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 2;
  margin-top: 3rem;
  border-radius: 10px 10px;
  @include mq("md") {
    padding: 0 0 0 2.5rem;
    height: inherit;
    margin-top: 0;
  }
  @include mq("lxg") {
    padding: 0;
  }
}
.main-visual__container {
  position: relative;
  width: 100%;
  height: inherit;
  @include mq("sp") {
    padding: 0.75rem 0.75rem 1.65rem 0.125rem;
  }
  @include mq("md") {
    padding: 3.5rem 2.5em 2.5em 0;
    // height: 100vh;
    z-index: 1;
  }
  @include mq("lxg") {
    height: 100%;
    padding: 1.25rem 1.55em 0 0;
  }
}
.main-visual.main-top .main-visual__members {
  height: inherit;
  @include mq("md") {
    height: 100%;
  }
}

/* =========================
main-visual__titles
========================= */

.main-visual.main-top .main-visual__titles {
  opacity: 0;
  transform: translateX(-100px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  position: relative;
  &.is-active {
    opacity: 1;
    transform: translateX(0);
  }
}
.main-visual__rightbox {
  @include mq("md") {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $blue;
    z-index: 1;
    width: 62.187%;
    height: 78%;
    max-width: 45.4375rem;
    max-height: 45.4375rem;
  }
  @include mq("lxg") {
    width: 62.25%;
  }
}
.main-visual.main-top .main-visual__rightbox {
  opacity: 0;
  transition: opacity 0.8s ease;
  &.is-active {
    opacity: 1;
  }
}

.main-visual__members.members {
  background-color: $content;
  position: relative;
  height: 63dvh;
  border-radius: 0.625rem;
  @include mq("md") {
    border-radius: 50px;
    margin-top: 1.25rem;
    width: 100%;
    height: 100%;
  }
}
.main-visual__titles {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  position: static;
  width: 100%;
  display: block;
  z-index: 2;
  bottom: auto;
  @include mq("sp") {
    width: 100%;
    bottom: initial;
    transform: translateY(-25px);
  }
  @include mq("md") {
    justify-content: flex-end; // ← 右寄せ
  }
}
.main-visual__titles.is-show {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.main-visual__title {
  @include mq("sp") {
    padding: 0 0.5rem;
    text-align: left;
    bottom: 9.875rem;
  }
  @include mq("md") {
    position: absolute;
    width: 100%;
    max-width: 100%;
    letter-spacing: normal;
    left: auto;
    // padding-left: 1rem;
    font-size: 4rem;
    right: 0;
    bottom: 2rem;
  }
}
.main-visual__catch {
  background-color: $white;
  position: absolute;
  border-radius: 0.525rem;
  color: $black;
  font-size: 1.45rem;
  font-family: $base-font;
  padding: 0.65rem 0.875rem 0.5rem;
  text-align: left;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.03em;
  width: auto;
  white-space: nowrap; // ★ 改行しない
  bottom: -1.5rem;
  @include mq("md") {
    letter-spacing: normal;
    left: auto;
    padding-left: 1rem;
    font-size: 4rem;
    right: 1.1875rem;
    bottom: 8.0625rem;
  }
  @include mq("lxg") {
    padding: 0.875rem;
    right: 7.25rem;
    bottom: 7.5rem;
    font-weight: 900;
  }
}

.main-visual__text {
  position: absolute;
  right: auto;
  left: 0.5rem;
  display: block;
  width: auto;
  bottom: -6rem;
  color: $black;
  font-size: 0.75rem;
  line-height: 1.75;
  text-align: left;
  font-weight: $bold;
  padding: 0.5rem 0.25rem 0 0;
  font-style: normal;
  @include mq("sp") {
    margin-top: 0.5rem;
    padding: 0.25rem 0.25rem 0 0;
    z-index: 11;
  }
}
.main-visual__text.top-page--subtitle {
  @include mq("md") {
    text-align: end;
    bottom: max(3.5rem, 3%);
    margin-top: 0.125rem;
  }
  @include mq("lxg") {
    bottom: 2.875rem;
    left: auto;
    font-weight: $bold;
    line-height: 0.675;
    font-size: 1rem;
    right: 11.75rem;
    text-align: left;
  }
}
.main-visual__span {
  display: block;
  margin-top: 0.2em;
}
.main-visual__subspan {
  display: block;
  font-family: $base-font;
  font-style: normal; // 念のためイタリック解除
  margin-top: 0.2em;
  margin-bottom: -0.2em;
  white-space: nowrap; // 余白は“em”で自然に（ここを微調整）
  @include mq("md") {
    margin-top: 0.6em;
  }
}

.members__img {
  position: absolute;
  width: 100%;
  transition: all 0.8s ease-in-out;
  @include mq("md") {
  }
}

.members .members__dream {
  background: url("/src/images/dream-house_sp.svg");
  background-size: 6.875rem 9.1875rem;
  background-repeat: no-repeat;
  bottom: 5rem;
  left: -1rem;
  @include mq("md") {
    background: url("/src/images/dream-house.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.members .members__dream {
  width: 6.875rem;
  height: 9.1875rem;
  left: 1.125rem;

  @include mq("md") {
    width: 28.03571429%;
    height: 47.65177549%;
  }
  @include mq("lxg") {
    width: 19.625rem;
    height: 26rem;
  }
}

.members .members__dream.is-active {
  bottom: 33%;
  @include mq("md") {
    bottom: 3.1875rem;
    left: 5.4375rem;
  }
  @include mq("lxg") {
    bottom: 3.25rem;
  }
}
.members .members__plan {
  width: 8.375rem;
  height: rem(131);
  @include mq("md") {
    height: 22.86%;
  }
}
.members .members__plan {
  background: url("/src/images/home-loan-application.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  @include mq("md") {
    top: -1rem;
    right: -1rem;
    width: 16rem;
  }
  @include mq("lxg") {
    width: 22.856%;
    height: 15.75rem;
  }
}
.members .members__plan.open {
  top: 4.5rem;
  right: 0;
  @include mq("md") {
    top: 4rem;
    right: 3.4375rem;
  }
  @include mq("lxg") {
    width: 22.857%;
    // right: 5.9375rem;
  }
}
//. ここまでCSSで指定
.members .members__homeloan {
  width: 6.4375rem;
  height: 7.7375rem;
  @include mq("md") {
    min-width: 17.4%;
    height: 25.4%;
  }
}
.members .members__homeloan {
  background: url("/src/images/planning.svg");
  background-repeat: no-repeat;
  background-size: 6.4375rem 7.7375rem;
  background-position: center;
  top: 3rem;
  left: 0.9875rem;
  @include mq("md") {
    top: -1rem;
    left: -1rem;
  }
}
.members .members__homeloan.is-active {
  @include mq("sp") {
    background-size: contain;
  }
  @include mq("md") {
    margin-top: 3.45rem;
    left: 4.4375rem;
    top: 0;
  }
  @include mq("lxg") {
    margin-top: 4.125rem;
  }
}
.members .members__estimate {
  width: 5.5rem;
  height: 6.3125rem;
  @include mq("md") {
    width: 10.125rem;
    height: 11.6875rem;
  }
}
.members .members__estimate {
  background: url("/src/images/estimate.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq("md") {
    background-size: 162px 187px;
    bottom: -1rem;
    right: -1rem;
  }
}
.members .members__estimate.open {
  right: 0;
  bottom: 38%;
  @include mq("md") {
    right: 3.5rem;
    bottom: 20.25rem;
  }
  @include mq("lxg") {
    bottom: 18.65rem;
    right: 3.55rem;
  }
}
.members .members__screen {
  width: 5.125rem;
  height: 5.875rem;

  @include mq("md") {
    width: 12.875rem;
    height: 14.6875rem;
  }
}
.members .members__img.members__screen {
  background: url("/src/images/loan-screening.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  top: 44%;
  left: 47%;
  transform: scale(0.8);
  transform: translateX(-50%);
  transform: translateY(-100%);
  transition-duration: transform 0.8s ease-in-out;
  @include mq("md") {
    top: 41.45%;
  }
}
.members .members__screen.is-active {
  transform: scale(1);
  transform: translateX(-30%);
  @include mq("md") {
    top: 50%;
    transform: translateY(-100%);
  }
  @include mq("lxg") {
    top: 63.5%;
    left: 40.65%;
    transform: translateX(1);
    transform: translateY(-100%);
  }
}
.main-visual__scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $blue;
  font-family: $base-font;
}
/* スクロールダウンの位置 */
.scroll {
  position: absolute;
  bottom: 3rem;
  left: 0.75rem;
  z-index: 10;
  @include mq("md") {
    z-index: 100;
    bottom: 1.1875rem;
    margin-left: -1rem;
    left: initial;
  }
  @include mq("lxg") {
    bottom: 3.65rem;
    margin-left: 0.65rem;
  }
}
/* 線のアニメーション部分 */
.scroll::before {
  position: absolute;
  animation: scroll 2s infinite;
  background-color: $blue;
  content: "";
  bottom: -4rem;
  height: 4rem;
  left: 0.125rem;
  margin: auto;
  right: 0;
  width: 1px;
  top: 14px;
  @include mq("md") {
    bottom: -7rem;
    height: 6.875rem;
  }
  @include mq("lxg") {
    right: -0.275rem;
  }
}
/* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
.scroll__text {
  letter-spacing: normal;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.625rem;
}
