@use "../global" as *;

.news {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding-top: 0.5rem;
    @include mq("md"){
        padding-left: clamp(3rem, 5%, 17.5rem);
        z-index: 1000;
    }
}
.news__inner{
    width: inherit;
    margin-top: 4.5rem;
    padding: 0 1.25rem;
    @include mq("md"){
        padding: 0 0 0 1rem;
    }
}

.news__titles{
    width: 100%;
    height: auto;
    @include mq("md"){
    position: absolute;
    top: 4.5rem;
    left: 15.875rem;
    z-index: 2;
    }
}
.news__title{
    font-size: 1.25rem;
    color: $black;
    @include mq("md"){
        font-size: 1.5rem;
        // padding-left: 3rem;
         padding-left: clamp(2rem, 1vw, 14.875rem);
    }
}
.news__heading{
    font-family: $eng-font;
    color: $white;
    text-shadow:  1px 1px 0 $blue,1px -1px 0 $blue,-1px 1px 0 $blue,-1px -1px 0 $blue;
    // text-stroke: 2px  $blue;
    font-size: 4.5rem;
    @include mq("md"){
        font-size: 8rem;
        // padding-left: 3rem;
         padding-left: clamp(2rem, 1vw, 14.875rem);
    }
}

.news__list{
    list-style: none;
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding-top: 2.5rem;
    @include mq("md"){
        padding-top: 8rem;
        padding-left: clamp(3rem, 7%, 17.5rem);
        margin-top: 12rem;
        margin-left: 2rem;
}
}
.news__item{
    display: block;
    padding-bottom: 1rem;
    @include mq("md"){
        padding-bottom: 2rem;
        padding-left: clamp(3rem, 5%, 17.5rem);
    }
}

.news__content{
    display: flex;
    align-items: center;
    color: $blue;
    padding: 1rem 0;
    @include mq("md"){
        padding: 2rem 0 ;
    }
}
.news__link{
    display: inline-block;
    text-decoration: none;
    color: $black;
    width: 100%;
    border-bottom: 1px solid $blue-line;
      @include mq("md"){
        max-width: 1120px;
    padding: 2rem 0;
}
}
.news__link:first-child{
    border-top: 1px solid $blue-line;
}
.news__category{
    display: inline-block;
    font-size: 0.875rem;
    font-weight: $bold;
    font-family: $base-font;
    margin-right: 1rem;
    padding: 0.3125rem 1rem;
    border: 1px solid $blue;
    @include mq("md"){
        font-size: 1rem;
    }
}