@use "../global" as *;

.news {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding-top: 0.5rem;
    @include mq("md"){
        padding-left: max(2rem, calc((100% - var(--container)) / 2));
        z-index: 12;
    }
}
.news__inner{
    width: inherit;
     max-width: var(--container);
    margin-top: 4.5rem;
    padding: 0 1.25rem;
    @include mq("md"){
        padding: 0 0 0 1rem;
    }
}

.news__titles{
    width: 100%;
    height: auto;
    @include mq("md"){
    position: absolute;
    top: 4.5rem;
    left: 10.875rem;
    padding: 0 0 0 8.5rem;
    z-index: 2;
    transform: translateX(-20%);
    }
    @include mq("md"){
        transform: translateX(-2%);
    }
}
.news__title{
    font-size: 1.25rem;
    color: $black;
    @include mq("md"){
        font-size: 1.5rem;
        // padding-left: 3rem;
         padding-left:max(2rem, calc((100% - var(--container)) / 2));
    }
}
.news__heading{
    font-family: $eng-font;
    color: $white;
    text-shadow:  1px 1px 0 $blue,1px -1px 0 $blue,-1px 1px 0 $blue,-1px -1px 0 $blue;
    // text-stroke: 2px  $blue;
    font-size: 4.5rem;
    @include mq("md"){
        font-size: 8rem;
        // padding-left: 3rem;
         padding-left:max(2rem, calc((100% - var(--container)) / 2));
    }
}

.news__list{
    list-style: none;
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding-top: 2.5rem;
    @include mq("md"){
        padding: 8rem 4rem 0 8rem;
        margin-top: 12rem;
        margin-left: 2rem;
}
}
.news__item{
    display: block;
    padding-bottom: 1rem;
    @include mq("md"){
        padding: 0 0 0 4rem;
    }
}

.news__content{
    display: flex;
    align-items: center;
    color: $blue;
    padding: 1rem 0;
    @include mq("md"){
        padding: 2rem 0 ;
    }
}
.news__link{
    display: inline-block;
    text-decoration: none;
    color: $black;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid $blue-line;
    @include mq("md"){
    max-width: 1120px;
    padding: 0 2rem 2rem 2rem;
}
}
.news__line{
    padding: 0 1rem;
    border-top: 1px solid $blue-line;
    @include mq("md"){
        padding: 0 3rem;
        max-width: 1120px;
    }
}
.news__category{
    display: inline-block;
    font-size: 0.875rem;
    font-weight: $bold;
    font-family: $base-font;
    margin-right: 1rem;
    padding: 0.3125rem 1rem;
    border: 1px solid $blue;
    @include mq("md"){
        font-size: 1rem;
    }
}
#modal-1 {
  display: none;
}
#modal-1.is-open {
  display: block;
  z-index: 99900;
}
/* モーダル全体を画面に固定して最前面に */
#modal-1 {
  position: fixed;
  inset: 0;
  left: 0;
  right: 0;
  z-index: 2147483647; /* とにかく最前面（強い） */
}

.modal__overlay {
  position: fixed;
  inset: 0;
  z-index: 2147483647; 
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* モーダル本体はデフォルト非表示（MicroModalは aria-hidden を切り替える） */
[id^="modal-"][aria-hidden="true"] {
  display: none;
}

[id^="modal-"][aria-hidden="false"] {
  display: block;
}

.modal__container {
  overflow-y: auto;
  box-sizing: border-box;
  font-weight: $bold;
  @include mq("md"){
    font-size: 1.5rem;
    line-height: 1.75;
    margin-top: 1rem;
  }
}
.modal__close {
    cursor: pointer;
    text-decoration: none;
    width: 15rem;
    display: block;
    color: $black;
    padding: 1.375rem 5.125rem;
    width: fit-content;
    border: 1px solid $black;
    border-radius: 0.625rem;
    font-family: $base-font;
    font-weight: $bold;
    margin: 1.625rem auto 0 auto;
}
.news__elipse{
     font-size: 0.625rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.75rem;
    text-align: center;
}
.news__modal--inner{
    width: min(92vw, 860px);
    margin: 0 auto;
    background-color: $white;
    padding: 1rem;
    @include mq("md"){
        padding: 1rem 6.375rem;
        line-height: 1.75;
    }
}
.news__modal-image{
    display: block;
    object-fit: cover;
    padding-top: 1rem;
}
.news__modal-description{
    font-size: 1rem;
    @include mq("md"){
        padding: 2.1875rem 0;
        line-height: 1.875;
    }
}
#modal-2 {
  display: none;
}
#modal-2.is-open {
  display: block;
  position: relative;
  z-index: 99900;
}

.news__line::after{
    content:"";
    display: block;
    width: rem(14);
    height: rem(14);
    padding: 0.5rem;
    cursor: pointer;
    border-top: border 0.275rem solid;
    border-right: border 0.275rem solid;
    border-top-left-radius: rem(4);
    border-top-right-radius: rem(4);
    border-bottom-left-radius: rem(4);
    border-bottom-right-radius: rem(4);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    z-index: 3000;
    right: 0.875rem;
    top: 0.75rem;
    bottom: 5%;
    margin: 0;
    transition: transform 0.7s ease-out;
}

.news__item::after {
  content:"";
  display: block;
  width: rem(14);
  height: rem(14);
  border-top: border rem(4) solid;
  border-right: border rem(4) solid;
  border-top-left-radius: rem(3);
  border-top-right-radius: rem(3);
  border-bottom-left-radius: rem(3);
  border-bottom-right-radius: rem(3);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  bottom: 0;
  margin: 0;
  opacity: 1;
}
